@charset "UTF-8";

body {
	margin-left: 20%;
	margin-right: 20%;
	color: black;
}

.nav1 {
	float: left;
}

.nav2 {
	float: right;
}

a {
	text-decoration: none;
	color: red;
}

ul li {
	list-style: none;
}

#maintitle {
	color: red;
	font-size: 300%;
}

.clear {
	clear: both;
}

footer {
	color: black;
	font-family: "S-Core Dream 4";
	margin-top: 200px;
	text-decoration: none;
}

.login_h1 {
	text_align: center;
	font-family: "S-Core Dream 4";
}

.button {
	margin-top: 50px;
	height: 30px;
	width: 120px;
	border-collapse: collapse;
	border: 1px solid #666;
	font-size: small;
	background-repeat: repeat-x;
	background-position: center center;
	color: #fff;
	margin-right: 10px;
	text-align: center;
	background-color: red;
	font-weight: bold;
	display: inline;
	font-family: "S-Core Dream 4";
}

#login_table {
	font-family: "S-Core Dream 4";
}

.admin_lg {
	text-decoration: none;
	color: black;
}

#admin_list {
	font-family: "S-Core Dream 4";
}

.manage_title {
	font-family: "S-Core Dream 4";
}

#man_contents {
	padding: 10px;
	border: 1px solid black;
	float: center;
	width: 60%;
	margin-left: 20%;
	font-size: small;
}

#man_contents th {
	margin: 5px;
	background-color: #FFB2D9;
}

.button2 {
	margin-top: 50px;
	height: 30px;
	width: 120px;
	border-collapse: collapse;
	border: 1px solid #666;
	box-shadow: 3px 3px 2px #ccc;
	font-size: small;
	background-repeat: repeat-x;
	background-position: center center;
	color: #fff;
	margin-right: 10px;
	text-align: center;
	background-color: #CC3D3D;
	font-weight: bold;
	display: inline;
}

#butt {
	text-align: center;
}

#memberList {
	border-collapse: collapse;
	border-top: 2px solid black;
	border-bottom: 1px solid black;
	width: 100%;
	margin-bottom: 20px;
	font-size: small;
	text-align: center;
}

#memberList th td {
	text-align: center;
	border-bottom: 1px dotted #999;
}

#searchSection {
	margin: 20px;
	float: right;
	font-size: small;
	font-weight: bold;
	font-family: "S-Core Dream 4";
}

.clear {
	clear: both;
}

img {
	width: 200px;
	height: 250px;
	text-align: center;
}

#man_update {
	padding: 10px;
	border: 1px solid black;
	float: center;
	width: 70%;
	height: 50px;
	font-size: small;
	margin: auto;
	font-size: small;
}

#man_update th {
	background-color: #FFB2D9;
	margin: 10px;
}

#contentsList {
	border-collapse: collapse;
	border-top: 2px solid black;
	border-bottom: 1px solid black;
	width: 100%;
	margin-bottom: 20px;
	font-size: small;
	text-align: center;
}

#contentsList th td {
	text-align: center;
	border-bottom: 1px dotted #999;
}

#contentsList a {
	text-decoration: none;
	color: black;
}

#contentsList a:hover {
	color: blue;
}

#contentsInsert {
	padding: 10px;
	border: 1px solid black;
	float: center;
	width: 90%;
	height: 50px;
	font-size: small;
	margin: auto;
	font-size: small;
}

#sub_menu {
	width: 10%;
	float: left;
	/* 	border : 1px solid white;
	margin : auto; */
	disply : inline;
	margin-top: 100px;
}

#sub_menu ul {
	margin: auto;
	list-style: none;
}

#sub_menu a {
	text-decoration: none;
	color: black;
	font-family: Trajan Pro;
	font-weight: bold;
	font-size: 16px;
	display: block;
	height: 15px;
	width: 160px;
	padding: 7px;
	border-bottom: 1px dotted #999;
	background-repeat: no-repeat;
	background-position: right center;
	background-repeat: no-repeat;
}

#sub_menu a:hover {
	background-repeat: no-repeat;
	background-position: right center;
	color: red;
	font-weight: bold;
	font-size: 16px;
	font-family: Trajan Pro;
}
