@charset "UTF-8";

body {
	background-color: black;
	margin-left: 20%;
	margin-right: 20%;
	color: white;
}

.nav1 {
	float: left;
}

.nav2 {
	float: right;
}

a {
	text-decoration: none;
	color: red;
}

ul li {
	list-style: none;
}

#maintitle {
	color: red;
	font-size: 300%;
}

.clear {
	clear: both;
}

footer {
	color: white;
	font-family: "S-Core Dream 3";
	margin-top: 200px;
	text-decoration: none;
}

legend {
	color: white;
	font-weight: bold;
	border: 1px white;
	margin: 30px;
}

#fieldset {
	margin-top: 130px;
	height: 250px;
	width: 100%;
	/* 	width: 20px;*/
}

.gridwrapper {
	border: 1px solid black;
	overflow-x: auto;
}

.content-wrapper, fieldset {
	min-width: 400px;
	max-width: 1000px;
	margin: 0 auto;
}

li {
	color: white;
	font-weight: bold;
}

#login_table {
	background-color: white;
	width: 30%;
	height: 300px;
	color: black;
	margin-top: 100px;
	padding: 0;
}

#login_table th {
	background-color: #8C8C8C;
	margin-left: 30px;
	margin-right: 30px;
}

.login_h1 {
	color: white;
	font-size: 250%;
	text-align: center;
}

.button {
	margin-top: 50px;
	height: 30px;
	width: 120px;
	border-collapse: collapse;
	border: 1px solid #666;
	box-shadow: 3px 3px 2px #ccc;
	font-size: small;
	background-repeat: repeat-x;
	background-position: center center;
	color: #fff;
	margin-right: 10px;
	text-align: center;
	background-color: #CC3D3D;
	font-weight: bold;
	display: inline;
}

.button2 {
	height: 30px;
	width: 120px;
	border-collapse: collapse;
	border: 1px solid #666;
	box-shadow: 3px 3px 2px #ccc;
	font-size: small;
	background-repeat: repeat-x;
	background-position: center center;
	color: #fff;
	margin-right: 10px;
	text-align: center;
	background-color: #CC3D3D;
	font-weight: bold;
	display: inline;
}

#join_table {
	color: white;
	margin-top: 50px;
}

.join_h1 {
	font-size: 200%;
	font-align: center;
}

fieldset #mypage_table th, td {
	color: white;
	text-align: center;
	height: 35px;
	float: center;
}

#mypage_table {
	border: 1px solid white;
	padding: 30px;
	float: center;
	width: 60%;
	margin: auto;
	text-align: center;
}

#button_id {
	text-align: center;
}

#sub_menu {
	width: 10%;
	float: left;
	/* 	border : 1px solid white;
	margin : auto; */
	margin-top: 100px;
}

#sub_menu ul {
	margin: auto;
	list-style: none;
}

#sub_menu a {
	text-decoration: none;
	color: white;
	font-family: Trajan Pro;
	font-weight: bold;
	font-size: 16px;
	display: block;
	height: 15px;
	width: 160px;
	padding: 7px;
	border-bottom: 1px dotted #999;
	background-repeat: no-repeat;
	background-position: right center;
	background-repeat: no-repeat;
}

#sub_menu a:hover {
	background-repeat: no-repeat;
	background-position: right center;
	color: red;
	font-weight: bold;
	font-size: 16px;
	font-family: Trajan Pro;
}

#mainbody {
	width: 75%;
	float: right;
}

#malegend {
	font-size: 200%;
	padding-left: 70px;
	padding-right: 70px;
	text-align: center;
}

img {
	width: 200px;
	height: 250px;
}

#infoTitle {
	font-weight: bold;
}

#info h6 {
	color: #CACACA;
}

#infomv {
	text-align: center;
	float: center;
	font-size: 250%;
	font-weight: bold;
}

#data {
	float: center;
	width: 60%;
	margin: auto;
	border-bottom: 1px dotted white;
	margin-top: 30px;
	text-align: center;
}

#poster {
	float: left;
}

#mvinfo {
	font-weight: bold;
	color: white;
}

#priceInfo {
	width: 60%;
	margin: auto;
	margin-top: 50px;
}

#buybutt {
	width: 100%;
}

#buybutt th {
	background-color: gray;
	/* margin : 30px; */
	width: 20%;
}

.but {
	height: 30px;
	width: 100%;
	border-collapse: collapse;
	border: 1px solid #666;
	font-size: small;
	background-repeat: repeat-x;
	background-position: center center;
	color: #fff;
	margin-right: 10px;
	text-align: center;
	background-color: #CC3D3D;
	font-weight: bold;
	display: inline;
}

.butem {
	margin-top: 50px;
	height: 30px;
	width: 120px;
	border-collapse: collapse;
	border: 1px solid #666;
	box-shadow: 3px 3px 2px #ccc;
	font-size: small;
	background-repeat: repeat-x;
	background-position: center center;
	color: #fff;
	margin-right: 10px;
	margin-left : 80%;
	text-align: center;
	float : right;
	background-color: #CC3D3D;
	font-weight: bold;
}

#price {
	margin: 0;
	padding: 0;
	text-align: center;
}

#detail_fieldset {
	color: white;
	text-align: center;
	margin: auto;
	height: 250px;
	float: center;
	width: 60%;
	margin-top: 30px;
}

#iframe {
	align: center;
	width: 60%;
	height: 100%;
	margin: auto;
	margin-top: 30px;
}

.review {
	text-align: right;
	color: white;
}

#what li {
	list-style: none;
	float: right;
	padding-right: 15px;
}

#what {
	text-align: right;
}

#what a {
	text-decoration: none;
	color: white;
	text-align: right;
}

#dat {
	margin-bottom: 30px;
}

#datgul {
	font-size: small;
	font-weight: bold;
	margin-bottom: 10px;
}